@mixin lower-then-desktop {
  @media (max-width: 900px) {
    @content;
  }
}

footer {
  // width: 100vw;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #fafafa;
  color: rgb(107, 107, 107);
  letter-spacing: 1.2px;
  line-height: 2;
  padding: 1em;
  font-size: 0.9rem;
  @include lower-then-desktop {
    font-size: 0.7rem;
  }
  div {
    font-weight: 300;
  }
}
