@mixin lower-then-desktop {
  @media (max-width: 900px) {
    @content;
  }
}

.nav-wrapper {
  background: #f9f9f9;
  // background: #f9f9f957;
  // height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 10px #adadad5e, -2px -2px 14px #d1d1d156;
  position: relative;
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
  padding: 0 15% 0 15%;
  white-space: nowrap;
  // border: 1px solid green;

  .burger {
    right: 15px;
    position: absolute;
    display: none;
    @include lower-then-desktop {
      display: block;
    }
  }
  // nav {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   border: 4px solid black;
  //   position: relative;
  //   white-space: nowrap;
  //   margin: 0 15% 0 15%;

  .myName-as-logo {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 17px;

    @include lower-then-desktop {
      font-size: 14px;
    }
  }

  .myName-as-logo :nth-child(1) {
    background: var(--green_v1);
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
  }

  .myName-as-logo :nth-child(2) {
    color: black;
    margin-left: 10px;
    //   font-size: 17px;
    letter-spacing: 2px;
    transition: 0.3s;
  }

  .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: 0.3s;
    font-size: 1.2rem;
    transition: 0.3s ease-out;

    @include lower-then-desktop {
      width: 50%;
      padding: 10px;
      // border: 1px solid red;
      flex-direction: column;
      position: absolute;
      top: 10vh;
      background: #f9f9f9;
      box-shadow: -4px 4px 7px #adadad36;
      box-shadow: -6px 6px 10px -10px #5f5f5f49;

      // left: 250px;
      font-size: 1rem;
      // height: 100%;
    }
    // top: 0;
    // left: 0;
    // z-index: 70;

    li {
      //underline animation
      color: #222;
      padding: 0.78em 1em;
      border: none;
      outline: none;
      position: relative;
      cursor: pointer;
      --accent-color: rgba(0, 128, 0, 0.616);

      @include lower-then-desktop {
        width: 100%;
        text-align: center;
        // background: red;
        font-size: 1.1rem;
        padding: 15px;
      }
    }

    li:not(:last-child)::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background-color: var(--green_v1);
      transition: transform 300ms ease-in-out;

      transform: scale(0);

      @include lower-then-desktop {
        height: 0px;
      }
    }

    li:hover::before,
    li:focus::before {
      transform: scale(1);
    }

    li:last-child {
      border: 2px solid var(--green_v1);
      border-radius: 25px;
      padding: 0.3em 0.9em;

      //   transition: 0.2s;

      //   transition-delay: 2s;
      // align-self: right;
      // justify-self: ;

      @include lower-then-desktop {
        border: none;
        border-radius: 0;
        padding: 15px;
      }
    }
  }

  // ul.nav-links li {
  //   color: #222;
  //   padding: 0.5em 1em;
  //   border: none;
  //   outline: none;
  //   position: relative;
  //   cursor: pointer;
  //   --accent-color: rgba(0, 128, 0, 0.616);
  //   //   border: 2px solid red;
  // }

  .square {
    background: rgba(255, 255, 255, 0.3);
    background-color: blue;
    position: absolute;
    height: 90vh;
    left: 0;
    width: 17%;
    transform: skew(-55deg);
    margin-left: 1.1%;
    z-index: 0;
    top: 0;
  }
  // }
}

// #menu li {
//   display: inline-block;
//   margin: 10px;
//   color: #000;
//   background: #fff;
//   background: rgba(255, 255, 255, 0.5);
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
// }

// .nav-links {
//   width: 50%;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   list-style: none;
//   //   font-size: 1.2rem;
//   position: fixed;
//   top: 1.6vh;
//   right: 15vw;
//   z-index: 70;
//   transition: 1s;

//   li.active {
//     color: red;
//     transition: 1s;
//   }

//   li {
//     color: #222;
//     padding: 0.78em 1em;
//     border: none;
//     outline: none;
//     position: relative;
//     cursor: pointer;
//   }

//   li:not(:last-child)::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     height: 3px;
//     background-color: var(--green_v1);
//     transition: transform 300ms ease-in-out;

//     transform: scale(0);
//   }

//   li:hover::before,
//   li:focus::before {
//     transform: scale(1);
//   }

//   li:last-child {
//     border: 2px solid var(--green_v1);
//     border-radius: 25px;
//     padding: 0.3em 0.9em;
//   }
// }

// .nav-links {
//   width: 50%;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   list-style: none;
//   //   font-size: 1.2rem;
//   transition: 0.3s;
//   top: 0;
//   left: 0;
//   z-index: 70;
//   border: 3px solid red;
// }

// #navbar li.active {
//   color: rgb(0, 100, 0);
//   transition: 0.4s;
// }

#navbar li.active:not(:last-child)::before {
  transform: scale(1);
}
