.nav-wrapper {
  background: rgb(235, 235, 235);
  background: #ebebebc0;
  background: #f9f9f9;
  /* background: rgb(214, 241, 207); */
  /* background: rgba(235, 235, 235, 0.123); */
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black; */
  /* position: absolute; */
  /* top: 0; */
  /* width: 100%; */
  box-shadow: 4px 4px 10px #adadad5e, -2px -2px 14px #d1d1d156;
  /* box-shadow: 4px 4px 10px #1372ff5e, -2px -2px 14px #ff1111c9; */
  position: relative;
  z-index: 5;
  /* position: absolute; */
  top: 0;
  width: 100%;
  transition: 0.2s;
}

nav {
  width: 70%;
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  /* overflow: hidden; */
  /* color: white; */
  /* transition: 0.2s; */
}

/* nav img {
  width: 150px;
  margin-left: 6vh;
} */

.myName-as-logo {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.myName-as-logo :nth-child(1) {
  background: var(--green_v1);
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.myName-as-logo :nth-child(2) {
  color: black;
  margin-left: 10px;
  font-size: 17px;
  letter-spacing: 2px;
}

nav ul.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  transition: 0.2s;
}

nav ul.nav-links li {
  color: #222;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  --accent-color: rgba(0, 128, 0, 0.616);
  /* border: 1px solid red; */
}

nav ul.nav-links li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: var(--green_v1);
  transition: transform 300ms ease-in-out;
  transform: scale(0);
}

nav ul.nav-links li:hover::before,
nav ul.nav-links li:focus::before {
  transform: scale(1);
}

.nav-links li:last-child {
  border: 2.5px solid var(--green_v1);
  border-radius: 25px;
  padding: 5px 20px;
  transition: 0.3s;
}

.nav-links li:last-child:hover {
  border-radius: 15px;
}

.square {
  /* background: rgba(255, 255, 255, 0.267);
  background-color: red;
  position: absolute;
  height: 1000px;
  left: 0;
  width: 10%;
  transform: rotate(55deg);
  margin-left: 33%;
  z-index: 1; */

  background: rgba(255, 255, 255, 0.3);
  background-color: blue;
  position: absolute;
  height: 90vh;
  /* margin-top: -5vh; */
  left: 0;
  width: 17%;
  transform: skew(-55deg);
  margin-left: 1.1%;
  z-index: 0;
  top: 0;
}

/* .square {
  background: rgba(255, 255, 255, 0.267);
  background-color: red;
  position: absolute;
  height: 100vh;
  width: 150px;
  width: 14%;
  top: -25vh;
  transform: rotate(55deg);
  margin-left: 30%;
  z-index: 1;
  left: -10%;
} */
