/* @font-face {
  font-family: "Nunito";
  src: url("./fonts/NunitoSans-SemiBold.ttf");
  font-weight: 600;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", Arial, sans-serif; */
  font-family: "Nunito", sans-serif;
}

:root {
  --green_v1: #2daa61;
  --green_v1_hover: #219150;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

button:focus {
  outline: 0;
}
